/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/raleway-v16-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v16-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 
Шрифты
font-family: Raleway;
font-weight: 700;

font-family: Roboto;
font-weight: 400;
font-weight: 500;
font-weight: 700;
font-weight: 900;
*/

/*
 область данных 1170px,
 крайние отступы 15px
 */

:root {
  --primary-black-color: #212121;
  --secondary-black-color: #000000;
  --secondary-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgb(255, 255, 255, 0.6);
  --grey-color: #757575;
  --background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --background-description-color: rgba(47, 48, 58, 0.8);
  --client-border-color: #afb1b8;
  --header-border-color: #ececec;

  --modal-background-color: rgba(0, 0, 0, 0.2);

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button,
address {
  font-family: inherit;
  font-style: normal;
}

ul,
button,
input {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

/* button:focus {
  outline: none;
} */
/* 
button:hover{
  cursor: pointer;
} */

a {
  /* color: #000; */
  font-family: inherit;
  text-decoration: none;
}

.vertical-paddings {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-box,
.nav-list {
  display: flex;
  align-items: center;
}

svg {
  display: block;
}

.active-link {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
   padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index.html */

/* Header */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  display: block;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 85px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-black-color);
}

.header-logo > span {
  color: var(--secondary-color);
}

.nav {
  display: flex;
  align-items: center;

  color: var(--primary-black-color);
}

.nav-list > li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-black-color);
  fill: none;

  transition: color 250ms var(--time-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.current-page {
  color: var(--secondary-color);
  position: relative;
}

.current-page > p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

address {
  margin-left: auto;
}

.address-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.address-list > li + li {
  margin-left: 30px;
}

.address-list > li:hover {
  color: var(--secondary-color);
}

.address-item {
  display: flex;
  align-items: center;

  color: var(--grey-color);
  fill: #757575;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--time-function), fill 250ms var(--time-function);
}

.address-item > svg {
  margin-right: 10px;
}

.address-item:hover,
.address-item:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

/* Main */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-background.jpg);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-order {
  padding: 10px 52px;
  margin-bottom: 100px;

  color: var(--primary-white-color);
  background-color: var(--secondary-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

}

/* Features */

.specialization {
  padding-bottom: 94px;
}

.section-title,
.specialization-title {
  margin-bottom: 50px;

  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features {
  display: flex;
}

.features-title {
  display: none;
}
/* 
.features-item {
  width: 270px;
} */

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-subtitle {
  margin-bottom: 10px;

  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-subtitle::before {
  content: "";
  display: block;

  width: 270px;
  height: 120px;

  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  content: "";
  background-image: url(../images/icon-antenna.svg);
}
.icon-clock::before {
  content: "";
  background-image: url(../images/icon-clock.svg);
}
.icon-diagram::before {
  content: "";
  background-image: url(../images/icon-diagram.svg);
}
.icon-astronaut::before {
  content: "";
  background-image: url(../images/icon-astronaut.svg);
}

.features-link {
  background-color: grey;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;
}

/* Чем мы занимаемся */

.specialization-title {
  margin-bottom: 50px;
}

.specialization-list {
  display: flex;
}

.specialization-list > li {
  position: relative;
}

.specialization-list > li + li {
  margin-left: 30px;
}
.specialization-link,
.team a {
  font-size: 0px;
  display: block;
}

.spec-desc {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: var(--background-description-color);
}

/* Наша команда */

section.team {
  background-color: var(--background-color);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  font-size: 0px;
  box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-bio {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;
}

.team-name {
  color: var(--primary-black-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team-proffesion {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.bio-item:not(:last-child) {
  margin-right: 10px;
}

.bio-link {
  fill: var(--client-border-color);
  border-radius: 50%;
  transition: 
    background-color 250ms var(--time-function),
    fill 250ms var(--time-function);
}

.bio-link:hover,
.bio-link:focus {
  background-color: var(--secondary-color);
  fill: var(--primary-white-color);
}

.bio-link,
.footer-social-link {
  padding: 12px;
}
.bio-link:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;

  fill: var(--client-border-color);

  border: 1px solid var(--client-border-color);
  border-radius: 4px;

  justify-content: center;
  align-items: center;

  transition: 
    border-color 250ms var(--time-function),
    fill 250ms var(--time-function);
}

.client-link:hover,
.client-link:focus {
  fill: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* footer */

.footer-background {
  background-color: var(--secondary-background-color);
}

footer > .container {
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  margin-right: 69px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-white-color);
}

.footer-logo > span {
  color: var(--secondary-color);
}

.footer-city {
  color: var(--primary-white-color);
}

.footer-mail,
.footer-phone {
  color: var(--secondary-white-color);
}

.footer-address a {
  padding: 0px;
  transition: color 250ms var(--time-function);
}

.footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address a:hover,
.footer-address a:focus {
  color: var(--secondary-color);
}

.social-link {
  display: flex;
  padding: 12px;

  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--time-function);
}

.footer-social {
  margin-right: 94px;
}

.footer-social > p {
  margin-bottom: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.footer-subtitle {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-weight: 700;
  text-transform: uppercase;
}

.form-subscribe {
  display: block;
}

.subscribe-field > label {
  position: relative;
}

.subscribe-tooltip {
  position: absolute;
  top: 15px; 
  left: 16px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25; 
  transition: 
  transform 250ms var(--time-function), 
  color 250ms var(--time-function) ;
}

.form-field {    
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-background-color);

  font-size: 16px;
  line-height: 1.25;
  color: var(--background-color);
  outline: transparent;  
}

.form-field:focus {
  background-color: var(--background-color);
  color: var(--primary-black-color);
}

.form-field:focus + .subscribe-tooltip,
.form-field:not(:placeholder-shown) + .subscribe-tooltip {
  transform: translateX(-70px);
  color: var(--primary-white-color);
}

.subscribe-button {
  padding: 10px 29px;

  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscribe-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-button > span::after {
  display: block;
  content: "";
  background-image: url("../images/icon-send.svg");
  fill: var(--primary-black-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Portfolio.html */
/* Футер и хедер общие */
/* Main */
.border-buttom {
  border-bottom: 1px solid var(--header-border-color);
}
.gallery-button {
  padding: 6px 12px;
  border: 0px;
  border-radius: 4px;

  color: var(--primary-black-color);
  background-color: var(--background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: 
    background-color 250ms var(--time-function),
    color 250ms var(--time-function), 
    box-shadow 250ms var(--time-function);
}

.gallery-button:hover,
.gallery-button:focus,
.gallery-button:active {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-selection {
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-selection > li:not(:last-child) {
  margin-right: 8px;
}

.gallery-list {
  flex-wrap: wrap;
}

.gallery-item {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--time-function);
}

.gallery-item:hover,
.gallery-item-focus {
  box-shadow: 
    1px 4px 6px rgba(0, 0, 0, 0.16), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.gallery-item:nth-child(3n) {
  margin-right: 0px;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.gallery-item a {
  display: block;
  font-size: 0px;
}

.gallery-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Добавить всплывающий текст при событии :hover, :focus  */

.gallery-title {
  margin-bottom: 4px;

  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-subtitle {
  color: var(--grey-color);

  font-size: 16px;
  line-height: 1.87;
}

.overlay {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.gallery-item:hover .gallery-text,
.gallery-item-focus .gallery-text {
  transform: translateY(-100%);
}

.gallery-text {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;

  width: 370px;
  height: 294px;

  padding: 63px 24px;

  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  font-size: 18px;
  line-height: 1.56;

  transition: transform 250ms var(--time-function);
  transform: translateY(100%);
}

/* Модальное окно и форма */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);

  transition: transform 1000ms var(--time-function);
  transform: scale(1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: #fff;

  box-shadow: 
  0px 2px 1px rgba(0, 0, 0, 0.2), 
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  
}

.close-modal {  
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--secondary-black-color);
}

.close-modal:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-color: var(--secondary-color);
}

.close-modal:hover .close-icon {
  fill: var(--secondary-color);
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-order {
  margin-bottom: 40px;
}

.form-text {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 28px;
  /* margin-right: 40px;
  margin-left: 40px; */

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-black-color);
}

.input-data {
  display: block;
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input{
position: relative;
margin-bottom: 28px;
}

.input-data {
  padding-left: 42px;
}

.input-tooltip {
  left: 42px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.07;
  color: var(--grey-color);

  transition: 
  transform 250ms var(--time-function),
  color 250ms var(--time-function),
  font-size 250ms var(--time-function);
}

.input-icon {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  
  width: 18px;
  height: 18px;

  fill: var(--primary-black-color);
}

.input-data:focus,
.input-data:not(:placeholder-shown),
.comments-data:focus,
.comments-data:not(:placeholder-shown) {
  outline: none;
  border-color: var(--secondary-color);
}

.input-tooltip,
.input-icon,
.comments-tooltip {
  position: absolute;
  z-index: 2;
}

.input-data:focus ~ .input-icon {
  fill: var(--secondary-color);
}

.input-data:focus ~ .input-tooltip,
.input-data:not(:placeholder-shown) ~ .input-tooltip{
  transform: translate(-24px, -36px);
  color: var(--secondary-color);
  font-size: 12px;
}

.input-data:focus ~ .input-icon,
.input-data:not(:placeholder-shown) ~ .input-icon{
fill: var(--secondary-color);
}

.form-comments{
  position: relative;
  margin-bottom: 20px;
}

.comments-data {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none; 
}

.comments-tooltip {
  top: 12px;
  left: 16px;

  transition: 
  transform 250ms var(--time-function),
  color 250ms var(--time-function),
  font-size 250ms var(--time-function);
}

.comments-data:focus ~ .comments-tooltip,
.comments-data:not(:placeholder-shown) ~ .comments-tooltip {
  transform: translateY(-36px);
  color: var(--secondary-color);
  font-size: 12px;
}

.license-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-icon {

  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url(../images/icon-checkbox-unchecked.svg);
  background-origin: content-box;
  background-position: center;

}

.checkbox:checked ~ .checkbox-icon {
  background-color: var(--secondary-color);
  background-image: url(../images/icon-checkbox-checked.svg);
}

.agreement-description {

  line-height: 1.15;
  letter-spacing: 0.01em;
}

.agreement {
  display: block;
 
}

.order-send {
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
}

.license-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  text-decoration-line: underline;

  color: var(--secondary-color);
}

.is-hidden {
  opacity: 1;
  pointer-events: none;
  transform: scale(0);
  transition: transform 1000ms var(--time-function);
  }