// 
// Footer-wrapper

.footer {
  background-color: $secondary-background-color;

  &-wrapper {
    @extend %flex-box;
    @extend %container;

    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// Contacts

.footer {
  &-contacts {
    margin-right: 69px;
  }

  &-logo {
    @extend %logo;
    margin-bottom: 20px;
    color: $primary-white-color;
    }
  
  &-address {
    &-link.city {
    color: $primary-white-color;
    }

    &-link.email,
    &-link.tel {
    color: $secondary-white-color;
    }

    &-item:not(:last-child) {
    margin-bottom: 9px;
    }

    &-link{
    padding: 0px;

        &:hover,
        &:focus {
        color: $secondary-color;
        }
    
    @include transition (color);
    }
  }
}

// Social links

.footer-social {
  margin-right: 94px;

  &-subtitle {
    @extend %footer-subtitle;
    margin-bottom: 20px;
  }

  &-list {
    @extend %flex-box;
  }

  &-item:not(:last-child) {
    margin-right: 10px;
  }
  
  &-icon {
    @extend %social-icon;
  }
}

.footer-social-link {
    display: flex;
    padding: 12px;

    fill: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
  }