/* Модальное окно и форма */
.modal {
  &-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: $modal-background-color;
    transform: scale(1);

    @include transition(transform 1s);
  }

  &-window {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;

    transform: translate(-50%, -50%);

    border-radius: 4px;
    background-color: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }

  &-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $primary-white-color;

    &-icon {
      width: 18px;
      height: 18px;
      fill: $full-black-color;
    }

    &:focus {
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-color: $secondary-color;
    }

    &:hover &-icon {
      fill: $secondary-color;
    }
  }
}

.flex-vertical {
  @extend %flex-box;
  flex-direction: column;
}

.form-order {
  margin-bottom: 40px;
}

.form-text {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $primary-black-color;
}

.form-input {
  position: relative;
  margin-bottom: 28px;
}

.input-data {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input-tooltip {
  left: 42px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.07;
  color: $primary-grey-color;

  @include transition(transform, color, font-size);
}

.input-icon {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: $primary-black-color;
}

.input-data:focus,
.input-data:not(:placeholder-shown),
.comments-data:focus,
.comments-data:not(:placeholder-shown) {
  outline: none;
  border-color: $secondary-color;
}

.input-tooltip,
.input-icon,
.comments-tooltip {
  position: absolute;
  z-index: 2;
}

.input-data:focus ~ .input-icon {
  fill: $secondary-color;
}

.input-data:focus ~ .input-tooltip,
.input-data:not(:placeholder-shown) ~ .input-tooltip {
  transform: translate(-24px, -36px);
  color: $secondary-color;
  font-size: 12px;
}

.input-data:focus ~ .input-icon,
.input-data:not(:placeholder-shown) ~ .input-icon {
  fill: $secondary-color;
}

.form-comments {
  position: relative;
  margin-bottom: 20px;
}

.comments-data {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.comments-tooltip {
  top: 12px;
  left: 16px;

  @include transition(transform, color, font-size);
}

.comments-data:focus ~ .comments-tooltip,
.comments-data:not(:placeholder-shown) ~ .comments-tooltip {
  transform: translateY(-36px);
  color: $secondary-color;
  font-size: 12px;
}

.license-agreement {
  @extend %flex-box;
  margin-bottom: 30px;
}

.checkbox-icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url(../images/icon-checkbox-unchecked.svg);
  background-origin: content-box;
  background-position: center;
}

.checkbox:checked ~ .checkbox-icon {
  background-color: $secondary-color;
  background-image: url(../images/icon-checkbox-checked.svg);
}

.agreement-description {
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.agreement {
  display: block;
}

.order-send {
  width: 200px;
  height: 50px;
  color: $primary-white-color;
  background-color: $secondary-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
}

.license-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  text-decoration-line: underline;

  color: $secondary-color;
}
